<div class="card border-light mb-3" *ngIf="profile">
  <div class="card-header">
    User Profile
  </div>
  <div class="card-body d-flex flex-wrap">
    <div class="col-12 d-flex flex-row ">
      <p class="card-title col-6">Name</p>
      <p class="card-title col-6">{{profile.fName}} {{profile.lName}}</p>
    </div>

    <div class="col-12 d-flex flex-row ">
      <p class="card-title col-6">Email</p>
      <p class="card-title col-6">{{profile.email}}</p>
    </div>

    <div class="col-12 d-flex flex-row ">
      <p class="card-title col-6">Password</p>
      <p class="card-title col-6">xxxxxx</p>
    </div>

    <div class="col-12 d-flex flex-row ">
      <p class="card-title col-6">Gender</p>
      <p class="card-title col-6">{{profile.gender}}</p>
    </div>
    <div class="col-12 d-flex flex-row ">
      <p class="card-title col-6">DOB</p>
      <p class="card-title col-6">{{profile.DOB}}</p>
    </div>
    <div class="col-12 d-flex flex-row">
      <p class="card-title col-6">Type</p>
      <p class="card-title col-6">{{profile.type}}</p>
    </div>
    <div class="col-12 d-flex flex-row ">
      <p class="card-title col-6">Address</p>
      <p class="card-title col-6">
        <button class="btn btn-primary"><a routerLink="/customers/view-address" class=" text-white"> View saved address</a></button>
      </p>
    </div>
  </div>

</div>
