<div class="jumbotron">
    <div class="container">
      <h2>Your Address</h2>
        <div class="row">
          <div class="col-md-2">
            <form name="Addressform" [formGroup]="Addressform" (ngSubmit)="Addressform.valid && onSubmit()">
            <div class="form-group">
              <label for="address1">Address</label>
                <input type="text" class="form-control" formControlName="address1" 
                [ngClass]="{'is-invalid':Addressform.get('address1').touched && Addressform.get('address1').invalid}" />
              <div class="invalid-feedback"></div>
            </div>
                
            <div class="form-group">
              <label for="address2">Address 2</label>
                <input type="text" class="form-control" formControlName="address2" 
                [ngClass]="{'is-invalid':Addressform.get('address2').touched && Addressform.get('address2').invalid}" />
              <div class="invalid-feedback"></div>
            </div>
  
            <!-- <div class="form-group">
              <label for="landmark">Landmark </label>
                <input type="text" class="form-control" formControlName="landmark" placeholder="E.g. Near AIIMS Flyover, Behind Regal Cinema, etc." 
                [ngClass]="{'is-invalid':Addressform.get('landmark').touched && Addressform.get('landmark').invalid}" />
              <div class="invalid-feedback"></div>
            </div> -->
  
            <div class="form-group">
                <label for="city">Town/City</label>
                  <input type="text" class="form-control" formControlName="city"
                  [ngClass]="{'is-invalid':Addressform.get('city').touched && Addressform.get('city').invalid}" />
              <div class="invalid-feedback"></div>
            </div>
  
            <div class="form-group">
                <label for="state">State / Province / Region</label>
                  <select formControlName="state" class="form-control"
                  [ngClass]="{'is-invalid':Addressform.get('state').touched && Addressform.get('state').invalid}" >
                    <option>Choose...</option>
                    <option>Andhra Pradesh</option>
                    <option>Andaman and Nicobar Islands</option>
                    <option>Arunachal Pradesh</option>
                    <option>Assam</option>
                    <option>Bihar</option>
                    <option>Chandigarh</option>
                    <option>Chhattisgarh</option>
                    <option>Dadar and Nagar Haveli</option>
                    <option>Daman and Diu</option>
                    <option>Delhi</option>
                    <option>Lakshadweep</option>
                    <option>Puducherry</option>
                    <option>Goa</option>
                    <option>Gujarat</option>
                    <option>Haryana</option>
                    <option>Himachal Pradesh</option>
                    <option>Jammu and Kashmir</option>
                    <option>Jharkhand</option>
                    <option>Karnataka</option>
                    <option>Kerala</option>
                    <option>Madhya Pradesh</option>
                    <option>Maharashtra</option>
                    <option>Manipur</option>
                    <option>Meghalaya</option>
                    <option>Mizoram</option>
                    <option>Nagaland</option>
                    <option>Odisha</option>
                    <option>Punjab</option>
                    <option>Rajasthan</option>
                    <option>Sikkim</option>
                    <option>Tamil Nadu</option>
                    <option>Telangana</option>
                    <option>Tripura</option>
                    <option>Uttar Pradesh</option>
                    <option>Uttarakhand</option>
                    <option>West Bengal</option>
                 </select>
                 <div class="invalid-feedback"></div>
                </div>
  
          <div class="form-group">
            <label for="postalCode">PIN code</label>
            <input type="text" class="form-control" formControlName="postalCode" placeholder="6 digits [0-9] PIN code"
            [ngClass]="{'is-invalid':Addressform.get('postalCode').touched && Addressform.get('postalCode').invalid}" />
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label for="country">Country/Region</label>
            <select formControlName="country" class="form-control"
            [ngClass]="{'is-invalid':Addressform.get('country').touched && Addressform.get('country').invalid}" >
              <option default>India</option>
            </select>
          </div>
             
          <div class="form-group">
            <button class="btn btn-primary" [disabled]="!Addressform.valid">Save</button>
         </div>
      </form>
    </div>
  </div>
  </div>
  </div>