
<div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Create new account</h2>
          <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
            <div class="form-group">
              <label for="type">Choose your profession...</label>
                <select formControlName="type" class="form-control" 
                [ngClass]="{'is-invalid':form.get('type').touched && form.get('type').invalid}" >
                <input placeholder="Choose your profession..." >
                <option>Customer </option>
                  <option>Vendor</option>
                </select>
            </div>
           <mat-form-field>
              <mat-label>Salutation</mat-label>
              <mat-select formControlName="salutation">
                <mat-option *ngFor="let item of salutationList" [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <div class="form-group">
              <label for="fName"> First Name </label>
              <input type="text" class="form-control" formControlName="fName"
                [ngClass]="{'is-invalid':form.get('fName').touched && form.get('fName').invalid}" />
              <div class="invalid-feedback">
                <div> First Name is Required </div>
              </div>
            </div>
            <div class="form-group">
              <label for="lName"> Last Name </label>
              <input type="text" class="form-control" formControlName="lName"
                [ngClass]="{'is-invalid':form.get('lName').touched && form.get('lName').invalid}" />
              <div class="invalid-feedback">
                <div> Last Name is Required </div>
              </div>
            </div>
            <div class="form-group">
              <label for="DOB"> DOB </label>
              <input type= "date" class="form-control" formControlName="DOB" max="2021-01-01" placeholder="MM/DD/YEAR"/>
                <!-- [ngClass]="{'is-invalid':form.get('DOB').touched && form.get('DOB').invalid}"  -->
              <div class="invalid-feedback">
                <div> DOB is Required </div>
              </div>
            </div>
            <mat-radio-group formControlName="gender">
              <label for="gender"> Gender </label> <br>
              <mat-radio-button value="male"> Male </mat-radio-button>
              <mat-radio-button value="female"> Female </mat-radio-button>
              <mat-radio-button value="other"> Other </mat-radio-button>
            </mat-radio-group>
            <!-- <div class="form-group">
              <label for="mobile"> Mobile Number </label>
              <input type="text" class="form-control" formControlName="mobile"
                [ngClass]="{'is-invalid':form.get('mobile').touched && form.get('mobile').invalid}" />
              <div class="invalid-feedback">
                <div> Enter your Mobile Number </div>
              </div>
            </div> -->
            <div class="form-group">
              <label for="email"> Email </label>
              <input type="text" class="form-control" formControlName="email" placeholder="abc@example.com"
                [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}" />
              <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                <div *ngIf="form.get('email').errors.required"> Email Name is Required</div>
                <div *ngIf="form.get('email').errors.email"> Email must be a valid email Address</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password"> Password </label>
              <input type="password" class="form-control" formControlName="password" placeholder="******"
                [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
              <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
                <div *ngIf="form.get('password').errors.required"> Password is Required </div>
                <div *ngIf="form.get('password').errors.minlength"> Password must be atleast 6 characters </div>
              </div>
            </div>
            <!-- <p>We will send you a text to verify your phone<br>Message and Data rates may apply.</p> -->
            <div class="form-group">
              <button class="btn btn-primary" [disabled]="!form.valid">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
