<!-- <div class="card-mb-4 shadow-sm my-3 pointer" routerLink="/product/1">
  <img src="./assets/download.jpeg" height="225" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Camera</h5>
    <p class="card-text"><span>price :{{100 | currency}}</span></p>
    <ngb-rating class="hey mr-2" [rate]="3"></ngb-rating>
    <a routerLink="/product/1" routerLinkActive="active" class="btn btn-dark btn-sm">View</a>
  </div>
</div> -->

<div class="card-mb-4 shadow-sm my-3 pointer" (click)="onView()">
  <img [src]="productItem.imageURL" onerror="this.src='./assets/download.jpeg';" height="225" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{productItem.productTitle}}</h5>
    <p class="card-text"><span>price :{{productItem.MRP | currency:'INR'}}</span></p>
    <ngb-rating class="hey mr-2" [rate]="productItem.rating"></ngb-rating>
    <a (click)="onView()" routerLinkActive="active" class="btn btn-dark btn-sm">View</a>
  </div>
</div>
