<h1 mat-dialog-title> Order - {{data.uuid}}</h1>
<div mat-dialog-content>
  <ol>
    <li *ngFor="let order of orderDetail;let i = index">
      <span>Item qty - {{order.quantity}} [Status - {{order.shippingStatus}}]</span>
      <p>Price - {{order.price | currency:'INR'}}</p>
    </li>
  </ol>
</div>
