<nav class="navbar navbar-dark bg-dark sticky-top">
  <a routerLink="/" class="navbar-brand text-light">Go<small>Cart</small></a>
  <form class="form-group  w-50 pl-5">
    <input class="form-control" type="text" placeholder="Search" name="search" [(ngModel)]="searchItem" #box
      (keyup.enter)="onEnter(box.value)" required>
  </form>
  <a *ngIf=!isUser routerLink="/login" routerLinkActive="active" class="text-white no-text-decoration">Login</a>
  <div class="dropdown" *ngIf=isUser>
    <button class="btn dropdown-toggle bg-dark text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{ user }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/profile">Account</a>
      <a class="dropdown-item" routerLink="/order">Orders</a>
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>
  <a class="nav-item nav-link text-light" href="#"><svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16"
      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
    </svg></a>
  <a class="nav-item nav-link text-light" routerLink="/cart"> <svg class="bi bi-cart3" width="1em" height="1em"
      viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
    </svg>cart<span class="badge badge-light ml-1">{{qty}}</span></a>
</nav>
<nav class="navbar navbar-light" style="background-color:#d9d0bd;">
  <nav class="nav justify-content-center">
    <a class="nav-link categories text-capitalize" [routerLink]="['product-list']" title="Full catalogue">All</a>
    <a class="nav-link categories text-capitalize" *ngFor="let category of categoryList" [routerLink]="['product-list']"
      [queryParams]="{ categoryID: category.id }" [title]="category.catDesc">{{category.catTitle}}</a>
  </nav>
</nav>
