<div class="card w-50 mt-2" (click)="openDialog()">
  <div class="card-body">
    <h3 class="card-title">Order - {{orderItem.uuid}}</h3>
    <p class="card-text">Total price - {{orderItem.totalPrice | currency:'INR'}}</p>
  </div>
</div>
