<div class="login-container">
  <div class="login-card">
    <div class="account-icon">
      <mat-icon>account_circle</mat-icon>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="loginForm.controls.email.invalid">
          <span *ngIf="loginForm.controls.email.hasError('email')">Not valid email</span>
          <span *ngIf="loginForm.controls.email.hasError('required')">Email required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          required
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon color="primary">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls.password.invalid">
          <span *ngIf="loginForm.controls.password.errors.minlength">
            Write something longer please!
          </span>
          <span *ngIf="loginForm.controls.password.hasError('required')">Password required</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
    </form>
    <div>
      <a routerLink="/forgot-password" routerLinkActive="active" class="text-white no-text-decoration">Forgot Password?</a>
    </div>
    <hr>
    <div>
      <a routerLink="/register" routerLinkActive="active" class="text-white no-text-decoration">Create new account</a>
    </div>
  </div>
</div>
