.login-container {
  width: 450px;
  margin: 0 auto;
  padding-top: 20px;
  // height: calc(100vh - 220px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .login-card {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(42, 42, 42, 0.8);
    mat-form-field {
      .mat-form-field-flex {
        background-color: white;
        border-radius: 4px;
        color: black;
      }
    }
    .account-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      mat-icon {
        font-size: 50px;
        height: 50px;
        width: 50px;
      }
    }

    .mat-form-field-subscript-wrapper {
      margin-top: 3px;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    hr {
      height: 3px;
      color: white;
      width: 100%;
      background-color: white;
      border-radius: 5px;
    }
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
    color: black;
  }
}
