<div class="cart-item-container d-flex justify-content-around">
  <div class="details">
    <div class="d-flex flex-row">
      <span class="d-flex">
        <mat-icon class="pointer" (click)="updateItem(cartItem.id,+(cartItem.quantity)-1)">remove_circle</mat-icon>
        {{cartItem.quantity}}
        <mat-icon class="pointer" (click)="updateItem(cartItem.id,+(cartItem.quantity)+1)">add_circle</mat-icon>
      </span> 
      <span>{{cartItem.productTitle}}</span>:
      <strong class="ml-2">{{(cartItem.price) | currency:'INR'}}</strong>
    </div>
    <div class="d-flex flex-row">
      {{cartItem.type}}-{{cartItem.vendor}} (Stock-{{cartItem.stockQty}})
    </div>
  </div>
  <small class="pointer" (click)="updateItem(cartItem.id,0)">
    <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
    </svg>
  </small>
</div>