<div class="ml-3">
  <h5><span class="badge badge-dark mt-2">Filters</span></h5>

  <label>Filter By Price</label>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck1"
    />
    <label class="form-check-label" for="defaultCheck1">
      Below 100
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck2"
    />
    <label class="form-check-label" for="defaultCheck2">
      Below 1000
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck2"
    />
    <label class="form-check-label" for="defaultCheck2">
      Below 5000
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck2"
    />
    <label class="form-check-label" for="defaultCheck2">
      Below 10000
    </label>
  </div>

  <label class="mt-2">Filter By Rating</label>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck1"
    />
    <label class="form-check-label" for="defaultCheck1">
      <ngb-rating class="hey" [rate]="5"></ngb-rating>
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck2"
    />
    <label class="form-check-label" for="defaultCheck2">
      <ngb-rating class="hey" [rate]="4"></ngb-rating>
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck2"
    />
    <label class="form-check-label" for="defaultCheck2">
      <ngb-rating class="hey" [rate]="3"></ngb-rating>
    </label>
  </div>
</div>
