<h1 class="d-flex justify-content-center">Orders</h1>
<div *ngIf="orderList.length === 0" class="alert alert-info text-center">No orders placed yet</div>
<div *ngFor="let item of orderList">
  <app-order-item class="d-flex justify-content-center" [orderItem]="item"></app-order-item>
</div>
