html{
  position:relative; 
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}

.text-white {
  color: white;
}

.content-container{
  // margin-top: 10px;
  // margin-bottom:110px;
  display: flex;
  // min-height: 100vh;
  min-height: calc(100vh - 60px);
  flex-direction: column;
  // justify-content: space-between
}
