<div *ngIf="cartList.length === 0" class="alert alert-info">Your cart is empty!!</div>

<div class="spinner-outer" *ngIf="isSpinner">
  <div class="spinner-inner">
    <mat-spinner></mat-spinner>
  </div>
</div>


<div class="card" *ngIf="cartList.length > 0">
  <h5 class="card-header">Cart Details</h5>
  <div class="card-body d-flex flex-row">
    <ul class="list-group col-4">
      <li class="list-group-item bg-warning" *ngFor="let item of cartList" style="width: 18rem;"
        [ngClass]="{'bg-danger': (item.inStock=='false'), 'bg-warning':(item.quantity > item.stockQty) }">
        <app-cart-item [cartItem]=item (isAPIcalled)="setSpinner($event)"></app-cart-item>
      </li>
      <li class="list-group-item" style="width: 18rem;">
        <strong>Total : </strong>{{cartTotal | currency:'INR'}}
      </li>
      <button class="mt-2 btn btn-lg btn-primary" style="width: 18rem;" (click)="placeOrder()"
        [disabled]="!(selectedCard?.id && selectedAddress?.id)">
        Place an order
      </button>
    </ul>



    <div class="card-selection col-3">
      <label id="card-select">Select payment method</label>
      <mat-radio-group aria-labelledby="card-select" class="d-flex flex-column" [(ngModel)]="selectedCard">
        <mat-radio-button class="example-radio-button" *ngFor="let card of cardList" [value]="card">
          {{card.provider}} xxxx-xxxx-xxxx-{{card.cardNumber}} - {{card.expiryMM}}/{{card.expiryYY}}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="selectedCard">
        Card selected: <b>{{selectedCard?.provider}} card ending with {{selectedCard?.cardNumber}}</b>
      </div>
      <button class="btn btn-sm btn-info" routerLink="/customers/add-card">Add new
        card</button>
    </div>

    <div class="address-selection col-3">
      <label id="address-select">Select delivery address</label>
      <mat-radio-group aria-labelledby="address-select" class="d-flex flex-column" [(ngModel)]="selectedAddress">
        <mat-radio-button class="example-radio-button" *ngFor="let address of addressList" [value]="address">
          <p>{{address.type}}: {{address.address1}}, {{address.address2}} - {{address.city}}</p>
          <p>Contact - {{address.mobileNumber}}</p>
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="selectedAddress">
        Address selected: <b>{{selectedAddress?.address1}} in {{selectedAddress?.city}}</b>
      </div>
      <button class="btn btn-sm btn-info" routerLink="/customers/add-address">Add new
        address</button>
    </div>


  </div>
</div>
