<div class="container-fluid" *ngIf="product?.productTitle">
  <!-- //product name -->
  <h3>
    <small>{{ product.productTitle }}</small>
  </h3>
  <!-- //rating and Reviews -->
  <ngb-rating class="hey" [rate]="product.rating"></ngb-rating>
  <small class="ml-2">{{ product.numberOfComment||0 }} Reviews</small>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-6">
        <!-- //image -->
        <img [src]="product.imageURL" class="card-img" alt="Product Image" />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <!-- //price and status-->
          <h6><small>In Stock </small></h6>
          <h5 class="card-title">MRP: {{ product.MRP | currency: "INR" }}</h5>
          <h3>Description</h3>
          <p class="card-text">{{ product.productDesc }}</p>

          <div class="card w-100">
            <div class="card-body">
              <div class="d-flex flex-row">
                <div class="d-flex flex-column col-6">
                  <div class="w-100">
                    <mat-form-field class="w-100">
                      <mat-label>Selected vendor </mat-label>
                      <mat-select [(ngModel)]="selectedVendor" name="vendor" (selectionChange)="onvendorChange($event)">
                        <!-- <mat-option value="" selected>Select vendor</mat-option> -->
                        <mat-option *ngFor="let vendor of vendors" [value]="vendor">
                          {{vendor.varient}} - {{vendor.vendorName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                  <div class="w-100">
                    <mat-form-field class="w-100">
                      <mat-label>Selected quantiy </mat-label>
                      <mat-select [(ngModel)]="selectedQty" name="qty" (selectionChange)="onQtyChange($event)">
                        <mat-option *ngFor="let key of counter(selectedVendor?.stock||10);let i= index" [value]="i+1">
                          {{i+1}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class=" w-100" *ngIf="isLoggedin">
                    <button class="btn btn-sm mt-1 btn-success w-100" (click)="handleAddToCart()">
                      Add to Cart
                    </button>
                  </div>
                  <div class=" w-100" *ngIf=!isLoggedin>
                    <a  (click)="redirectToLogin()" routerLinkActive="active" class="text-primary no-text-decoration">Login</a> to add item to cart
                  </div>
                </div>
                <div class="col-6">
                  <div *ngIf="selectedVendor?.varient">Selected detail -
                    <p class="text-capitalize">{{selectedVendor?.varient}} from
                      "{{selectedVendor?.vendorName}}"</p>
                    <p class="text-capitalize">price: {{selectedVendor.price | currency: "INR" }}</p>
                    <p class="text-capitalize">dicount: {{selectedVendor.discount}}%</p>
                    <p class="text-capitalize">quantity: {{selectedQty}}</p>
                    <p class="text-capitalize">price after discount <b
                        class="text-danger">{{selectedVendor.discountPrice | currency: "INR" }}</b>
                    </p>
                    <p class="text-capitalize">Total price:
                      <b>{{selectedVendor.discountPrice*selectedQty | currency: "INR" }}</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
