<div *ngIf="addresses" class="content-padding">
  <div *ngFor="let address of addresses; let i = index">
    <h1>Address {{i+1}}:{{address.type}} </h1>
    <p>{{address.address1}}, {{address.address2}}, {{address.city}}, {{address.state}}, {{address.country}},</p>
    <p> <b>Phone:</b> {{address.mobileNumber}}</p>
    <p><b>Postalcode:</b> {{address.postalCode}}</p>
  </div>
</div>


<!-- <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Second default radio
  </label>
</div> -->
