<div class="row">
  <div class="col-md-2">
    <app-filters></app-filters>
  </div>
  <div class="col-md-10">
    <div class="d-flex flex-wrap" *ngIf="productList.length">
      <div class="col-md-4" *ngFor="let product of  productList">
        <product-item [productItem]="product"></product-item>
      </div>
    </div>
    <div class="d-flex flex-wrap" *ngIf="productList.length==0">
      No products to display as per search criteria
    </div>
  </div>
  <!-- <button (click)="rediredct()" >re</button> -->
</div>
