<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form name="Productform" [formGroup]="Productform" (ngSubmit)="Productform.valid && onSubmit()">
          <div class="form-group">
            <label for="productTitle"> Product Name </label>
            <input type="text" class="form-control" formControlName="productTitle" placeholder="Enter Product Name"
              [ngClass]="{'is-invalid':Productform.get('productTitle').touched && Productform.get('productTitle').invalid}" />
            <div class="invalid-feedback"> </div>
          </div>
          <div class="form-group">
            <label for="MRP"> MRP </label>
            <input type="number" class="form-control" formControlName="MRP" placeholder="Enter MRP"
              [ngClass]="{'is-invalid':Productform.get('MRP').touched && Productform.get('MRP').invalid}" />
            <div class="invalid-feedback"> </div>
          </div>
          <div class="form-group">
            <label for="productDesc"> Description </label>
            <input type="text" class="form-control" formControlName="productDesc"
              [ngClass]="{'is-invalid':Productform.get('productDesc').touched && Productform.get('productDesc').invalid}" />
            <div class="invalid-feedback"> </div>
          </div>
          <div class="form-group">
            <label for="CategoryID"> Categogry </label>
            <select type="text" class="form-control" formControlName="CategoryID"
              [ngClass]="{'is-invalid':Productform.get('CategoryID').touched && Productform.get('CategoryID').invalid}">
              <option hidden> Select CategoryID </option>
              <option> Clothes </option>
              <option> Electronics </option>
              <option> Food Item </option>
              <option> Beauty </option>
              <option> Accessories </option>
            </select>
          </div>
          
          <!-- <div class="form-group">
            <label> Image URL </label>
            <input type="text" (change)="onFileSelected($event.target.files)" class="form-control"
              formControlName="image" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div> -->
          
          <div class="form-group">
            <label for="MRP"> MRP </label>
            <input type="number" class="form-control" formControlName="MRP" placeholder="Enter MRP"
              [ngClass]="{'is-invalid':Productform.get('MRP').touched && Productform.get('MRP').invalid}" />
            <div class="invalid-feedback"> </div>
          </div>
          <div class="form-group">
            <label for="CategoryID"> Categogry </label>
            <select type="text" class="form-control" formControlName="CategoryID"
              [ngClass]="{'is-invalid':Productform.get('CategoryID').touched && Productform.get('CategoryID').invalid}">
              <option hidden> Select CategoryID </option>
              <option> Clothes </option>
              <option> Electronics </option>
              <option> Food Item </option>
              <option> Beauty </option>
              <option> Accessories </option>
            </select>
          </div>
          <div class="form-group">
            <label for="qtySold"> Sold quantity </label>
            <input type="number" class="form-control" formControlName="qtySold" placeholder="Sold quantity"
              [ngClass]="{'is-invalid':Productform.get('qtySold').touched && Productform.get('qtySold').invalid}" />
            <div class="invalid-feedback"> </div>
          </div>
          <div class="form-group">
            <label for="weight"> Weight </label>
            <input type="number" class="form-control" formControlName="weight" placeholder="Enter weight"
              [ngClass]="{'is-invalid':Productform.get('weight').touched && Productform.get('weight').invalid}" />
            <div class="invalid-feedback"> </div>
          </div>
          <div class="form-group">
            <label for="GTIN"> GTIN</label>
            <input type="number" class="form-control" formControlName="GTIN" 
              [ngClass]="{'is-invalid':Productform.get('GTIN').touched && Productform.get('GTIN').invalid}" />
            <div class="invalid-feedback"> </div>
          </div>

          <!-- <div class="form-group">
            <label for="TandC"> Teams & condition </label>
            <input type="text" class="form-control" formControlName="TandC" placeholder="Teams & condition"
            [ngClass]="{'is-invalid':Productform.get('TandC').touched && Productform.get('TandC').invalid}"/>
            <div class="invalid-feedback">  </div>
          </div> -->
         
          <div class="form-group">
            <button class="btn btn-primary" [disabled]="!Productform.valid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>