
 <h4>Add a New Payment Method</h4>
 <div class="jumbotron">
  <div class="container">
    <div class="row">       
        <form [formGroup]="Paymentform" (ngSubmit)="onSubmit()">
          <h4>Enter Your Card Details</h4><br>
          <div class="form-group">
            <div class="col-md-4" class="row">
            <label for="cardNumber">Card Number</label>
            <input provider="text" formControlName="cardNumber" class="form-control" placeholder="4444 4444 4444 4444"
            [ngClass]="{'is-invalid':Paymentform.get('cardNumber').touched && Paymentform.get('cardNumber').invalid}" />
            <div class="invalid-feedback"></div>
            </div>
          </div>

           <div class="form-group">
              <div class="col-sm">
              <label for="type">Card Type</label>
              <select formControlName="type" class="form-control">
                    <option hidden>Choose option....</option>
                    <option>Debit</option>
                    <option>Credit</option>
              </select>
              </div> 
            </div>

            <div class="form-group">
              <div class="col-sm">
              <label for="provider">Card provider</label>
              <select formControlName="provider" class="form-control">
                    <option hidden>Choose option....</option>
                    <option>VISA</option>
                    <option>MasterCard</option>
                    <option>RuPay</option>
                    <option>American Express</option>
                    <option>Maestro</option>
              </select>
              </div> 
            </div>

            <div class="form-group">
              <div class="col-sm-6">
              <label for="expiryMM"> Expiry Month</label>
              <select formControlName="expiryMM" class="form-control" >
                  <option hidden>Month....</option>
                    <!-- <option>JAN</option>
                    <option>FEB</option>
                    <option>MAR</option>
                    <option>APR</option>
                    <option>MAY</option>
                    <option>JUN</option>
                    <option>JUL</option>
                    <option>AUG</option>
                    <option>SEP</option>
                    <option>OCT</option>
                    <option>NOV</option>
                    <option>DEC</option> -->

                    <option *ngFor="let i of[1,2,3,4,5,6,7,8,9,10,11,12]">
                      {{i}}
                    </option>
                </select>
              </div> 
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <label for="expiryYY"> Expiry Year</label>
                <select formControlName="expiryYY" class="form-control" >
                  <option hidden>Year....</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                  <option>2024</option>
                  <option>2025</option>
                  <option>2026</option>
                  <option>2027</option>
                  <option>2028</option>
                  <option>2029</option>
                  <option>2030</option>
                </select>
              </div> 
            </div>

            <div class="form-group">
              <div class="col-md-4" class="row">
              <label for="nameOnCard">Name on Card</label>
              <input provider="text" formControlName="nameOnCard" class="form-control" placeholder="Enter your name"
              [ngClass]="{'is-invalid':Paymentform.get('nameOnCard').touched && Paymentform.get('nameOnCard').invalid}" />
              <div class="invalid-feedback"></div>
              </div>
            </div>
   
            <div class="form-group">
              <button class="btn btn-primary">Add Your Card</button>
            </div>
           </form>
        </div>
      </div>
</div>

<!-- [disabled]="!Paymentform.valid" -->