.carousel-inner{
    height: 500px;
}

.carousel-caption{
    top: 10%;
    left : 40%;
    font-size : 11px;
    color: black;
}
.card-text,.card-title{
    font-size : 10px; 
}

.alert{
    font-size : 12px; 
}
strong{
 color : black;
 font-size: 18px;
}
.hey{
    color :#cca962;
}