<div
  id="carouselExampleCaptions"
  class="carousel slide h-50"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleCaptions"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/category2.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Winter wear for Women</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/category4.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Beauty Essentials</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/category5.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Latest Mobiles</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col-md-4 mt-2">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">previous order</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="text-dark">Repeat Last Order</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-2">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Rate Us!!</h5>
        <p class="card-text">How is the{{ " Samsung Note 9" }} you ordered!!</p>
        <ngb-rating class="hey mr-2" [rate]=""></ngb-rating>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-2">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Offers</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-dark btn-sm">View!</a>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-warning mt-1 mx-5 text-dark">
  <h6>Fashion Corner</h6>
  “One is never over-dressed or under-dressed with a Little Black Dress.” – Karl
  Lagerfeld
  <p class="ml-4">
    Check out our <a href="#"><strong>New Arrival!!</strong></a>
  </p>
</div>



