/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.pointer {
  cursor: pointer;
}

.sticky-top {
  z-index: 1;
}

.content-padding {
  padding: 0.5rem 1rem;
}
