<div class="footer-container">
  <p>footer works!</p>
  <div class="d-flex flex-column">
      <a routerLink="/test" routerLinkActive="active" class="text-white no-text-decoration">test area</a>
      <a routerLink="/register" routerLinkActive="active" class="text-white no-text-decoration">register</a>
      <a routerLink="/customers" routerLinkActive="active" class="text-white no-text-decoration">customers</a>
      <a routerLink="/vendors" routerLinkActive="active" class="text-white no-text-decoration">vendors</a>
  </div>
</div>
